* {
    margin: 0;
    text-align: center;
}

body {
    background-color: #efe2c7; /* Bucks logo color */
}

h1, h2 {
    font-family: 'Roboto Slab', 'serif';
}

#Header {
    font-size: 50px;
}

#playerCard {
    display: flex;
    width: 100%;
    height: 450px;
}

.innerCard {
    width: 50%;
    text-align: unset;
    background-color: white;
}

p {
    display: block;
    margin-top: 1em;
    margin-left: 23em;
    margin-right: 23em;
}

.headshot {
    width: 60%;
}

.glossary {
    width: 30%;
    margin: 0;
    left: 35%;
    position: absolute;
    top: 35em;
}

#giannisCard {
    width: 30%;
    background-color: #efe2c7; /* Bucks logo color */
    left: 5%;
    position: absolute;
    mix-blend-mode: multiply;
}

#giannisChartDiv {
    width: 33%;
    position: absolute;
}

#giannisAndLebronChartDiv {
    width: 33%;
    position: absolute;
    left: 33%;
}

#lebronChartDiv {
    width: 33%;
    position: absolute;
    right: 0;
}

#lebronCard {
    width: 30%;
    background-color: #efe2c7; /* Bucks logo color */
    right: 5%;
    position: absolute;
    mix-blend-mode: multiply;
}

#radarChart {
    height: 300px;
}

#chart {
    padding: 8px 0;
    font-family: Arial;
    font-size: 13px;
    line-height: 15px;
    text-align:center;
    border-top:1px solid #dadada;
    margin:0 30px;
}